In [1]:
False = "ben bir hata yaptım"

SyntaxError: cannot assign to False (Temp/ipykernel_13004/1039034653.py, line 1)

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [4]:
class_name = "B106"

In [5]:
true = "ben bugün bütün soruları doğru çözdüm"

In [6]:
true

'ben bugün bütün soruları doğru çözdüm'

In [7]:
x = "Techpro"
y = x
x = "python"

In [8]:
print(x)
print(y)

python
Techpro

In [9]:
person = "John"
age = 30
department = "Data Scientist"
salary = 120000
person = "Adam"
age = 32
department = "Web Developer"
salary = 110000

In [10]:
print(person)
print(department)
print(salary)
print(age)

Adam
Web Developer
110000
32

In [11]:
person = "John"
age = 30
department = "Data Scientist"
salary = 120000
person = "Adam"
age = 32
department = "Web Developer"
#salary = 110000

In [12]:
print(person)
print(department)
print(salary)
print(age)

Adam
Web Developer
120000
32

## Type Conversion

# all types to str

In [14]:
age = 30
converted_age = str(age)
type(converted_age)

str

In [15]:
print(converted_age)

30

In [24]:
bool_deneme = False

In [25]:
type(bool_deneme)

bool

In [18]:
x = str(bool_deneme)

In [26]:
type(str(bool_deneme))

str

In [20]:
x

'False'

In [ ]:
float()

In [27]:
pi = 3.14
pi = int(pi)

In [28]:
type(pi)

int

In [29]:
pi

3

In [30]:
pi

3

In [31]:
pi = float(pi)
pi

3.0

In [32]:
age = input("Enter your age")

In [33]:
age

'30'

In [35]:
2022 - int(age)

1992

In [38]:
age_2 = int(input("Enter your age"))

ValueError: invalid literal for int() with base 10: 'onsekiz'

In [37]:
age_2

18

# float to int

In [39]:
y = 5.2

In [40]:
y = int(y)
y

5

In [41]:
z = 5.9
z = int(z)
z

5

## int to float

In [44]:
x = 3
x = float(x)
print(x)

3.0

## str to float

In [45]:
age = "on sekiz"
age = float(age)
age

ValueError: could not convert string to float: 'on sekiz'

In [46]:
pi = "3.14"
pi = float(pi)
pi

3.14

In [47]:
type(pi)

float

In [49]:
age = "30"
age = int(age)
age

30

In [50]:
x = 25
y = "15"
z = "2.5"
w = "I'm at_"

In [52]:
print(x - int(y))
print(x - float(z))
print(z + str(x))

10
22.5
2.525

In [53]:
print(w + str(x)) # "I'm at_" + "25"

I'm at_25

In [54]:
"15" + 15

TypeError: can only concatenate str (not "int") to str

In [55]:
int("15") + 15

30